
.index{
  padding: 15px 0  25px 0;
  background-color: #f6f8fa;
}

.lineItem{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 94%;
  margin: 10px auto;
  padding: 15px 15px 15px 0;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(180,160,120,.8);
  // box-shadow: 6px 0 5px -5px rgba(180,160,120,.6), -6px 0 5px -5px rgba(180,160,120,.6);
}

.img{
  width: 200px;
  height: 200px;
}
.itemLeft,.itemRight{
  display: flex;
}

.itemRight{
  padding-right: 10px;
  flex-direction: column;
  flex-grow: 24;
}
.actionWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.title{
  font-size: 24px;
  text-align: justify;
}
.price{
  font-size: 24px;
  color: #e4393c;
  font-weight: 700;
}

.btn{
  width: 180px;
  height: 46px;
  padding: 0;
  line-height: 46px;
  background-color: #e4393c;
  font-size: 28px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btn::after{
  border: 0;
}