
.index{
  padding: 15px 0  25px 0;
}

.lineItem{
  display: block;
  padding: 15px;
}
.itemLeft,.itemRight{
  display: inline-block;
}
.img{
  width: 200px;
  height: 200px;
}
.itemLeft{
  width: 30%;
}
.itemRight{
  // display: flex;
  // flex-grow: 3;
  width: 65%;
  vertical-align: top;
}

.title{
  // box-sizing: border-box;
  // padding: 0 15px;
  // display: inline-block;
  // white-space: nowrap; 
  // width: 100%;
  // overflow: hidden;
  // text-overflow:ellipsis;
  font-size: 16px;
  text-align: justify;
}
.price{
  display: block;
  font-size: 18px;
  color: #e4393c;
}

.btn{
  width: 160px;
  height: 36px;
  line-height: 36px;
  background-color: #e4393c;
  font-size: 20px;
  color: #fff;
}